#window {
  /*opacity: 0.9;*/
  color: --wofi-color4;
  background: none;
}

#scroll {
  background-color: --wofi-color0;  
  border-radius: 10px;
  padding: 10px;
}

#input {
  background-color: --wofi-color0;
  margin-bottom: 1rem;
  color: --wofi-color4;
}

#img {
  margin-right: 4px;  
}

#input:focus {
  box-shadow: none;
}

#entry:selected {
  border-radius: 10px;
  background-color: --wofi-color15;
}

#entry {
  outline: none;
}
